<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Travel to the Tomb of Annihilation
  </h1>
  <div>
    Party Members: <input [(ngModel)]="partyMembers"><br>
    Food stores: <input [(ngModel)]="food"> days rations<br>
    Water stores: <input [(ngModel)]="water"> gallons<br>
    Insect ointment: <input [(ngModel)]="ointment"> applications<br>
    Raincatchers: <input [(ngModel)]="raincatchers"><br>
    <hr>
    Rain: {{ rain }}<br>
    Encounter: {{ encounter }}<br>
    <input type="button" value="End Day" (click)="endDay()">
  </div>
  <div>
    <img height="1200" alt="Angular Logo" src="assets/dm.jpg">
    <div *ngFor="let row of grid; let x = index">
      <div *ngFor="let cell of row; let y= index">
        {{x}} {{y}} {{ cell }}
      </div>
    </div>
  </div>

</div>

