/* You can add global styles to this file, and also import other style files */
.icon-red {
  color: red;
  font-size: 12px;
}

.icon-position {
  position: relative;
  z-index: 100;
}

.fa-rotate-60 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.fa-rotate--60 {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.fa-rotate-120 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

.fa-rotate--120 {
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
}

.wrapper {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.map-container {
  position: relative;
}

.page-container {
  margin-top: 15px;
}

.btn-margins {
  margin-right: 3px;
  margin-bottom: 3px;
}

.btn-bump-up {
  margin-bottom: 15px;
}

.btn-bump-down {
  margin-top: 15px;
}